langchain
langchain-openai
python-dotenv
langchain-community
langchain-text-splitters

flask
pinecone[grpc]
langchain-pinecone
langchain-experimental
langchain-huggingface
sentence-transformers
langchain-core
langchain-classic
transformers
pypdf
-e .
